body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
    width: calc(100% - 12px);
}

/* Оптимизация стилизации формы */
form input[type="text"] {
    width: 200px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;

}

/* Оптимизация стилизации кнопки формы */
form button {
    padding: 5px 10px;
}

button:hover {
    background-color: #0056b3;
}
.fio{
    width: 200px;
}